project_name         = "sears-home-services-ai-agent"
environment          = "prod"
aws_region           = "us-east-1"
workload_account_id  = "710045722740"
dns_account_id       = "202612164956"
hosted_zone_id       = "Z05781442GINHB3A5IJXK"
workload_sso_profile = "buildrlab-sears-home-services-ai-agent-prod"
dns_sso_profile      = "buildrlab-core"
ci_cd_mode           = false

frontend_domain_name   = "shs.buildrlab.com"
frontend_bucket_name   = null
cloudfront_price_class = "PriceClass_100"

tags = {
  Project     = "SearsHomeServicesAiAgent"
  Environment = "prod"
}
